<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOpcWCFInterface" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IOpcWCFInterface">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/brokerService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOpcWCFInterface" contract="OpcWcfInterface.IOpcWCFInterface"
        name="BasicHttpBinding_IOpcWCFInterface" />
      <endpoint address="net.tcp://localhost:8090/brokerService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IOpcWCFInterface" contract="OpcWcfInterface.IOpcWCFInterface"
        name="NetTcpBinding_IOpcWCFInterface">
        <identity>
          <servicePrincipalName value="host/DESKTOP-41A3VPF" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <diagnostics performanceCounters="Default">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" logEntireMessage="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
    </diagnostics>
  </system.serviceModel>

  <system.diagnostics>

    <sharedListeners>
      <add initializeData="c:\WCFLog\Web_Messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>