<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBrokerService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBrokerService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/brokerService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBrokerService" contract="brokerService.IBrokerService"
                name="BasicHttpBinding_IBrokerService" />
            <endpoint address="net.tcp://localhost:8090/brokerService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBrokerService" contract="brokerService.IBrokerService"
                name="NetTcpBinding_IBrokerService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-41A3VPF" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="C:\WCFLog\WebTrace.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="traceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>