<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBrokerService" />
        <binding name="BasicHttpBinding_IBrokerService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IBrokerService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/brokerService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBrokerService" contract="brokerServiceReference.IBrokerService"
        name="BasicHttpBinding_IBrokerService" />
      <endpoint address="net.tcp://localhost:8090/brokerService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IBrokerService" contract="brokerServiceReference.IBrokerService"
        name="NetTcpBinding_IBrokerService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-41A3VPF" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:56046/brokerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrokerService1"
        contract="brokerReference.IBrokerService" name="BasicHttpBinding_IBrokerService1" />
    </client>
    <services>
      <service behaviorConfiguration="mexBehavior" name="brokerService.BrokerService">
        <endpoint address="brokerService" binding="basicHttpBinding" contract="brokerService.IBrokerService" />
        <endpoint address="brokerService" binding="netTcpBinding" contract="brokerService.IBrokerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>